body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 48px;
    text-align: center;
    margin: 45px 0;
    color: #2E7AD3;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 25px;
}

h2 {
    font-size: 32px;
    margin-top: 0;
    color: #104c90;
}

img {
    width: 100%;
}

.link {
    margin-bottom: 0;
}
.link:hover {
    color: #ff8000;
}